.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h1{
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.addressContainer {
    margin-bottom: 2rem;
    background-color: #F7F6F2;
   padding: 6rem 2rem 2rem 2rem;
   width: 730px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.edit {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;

}

.edit:active {
    transform: scale(0.9);
}

.input {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
}

.btnUpdate {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    background-color: #008000;
    color: white;
}

@media(max-width: 790px) {
    .addressContainer {
        width: 100%;
    }
}