.container {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.leftContainer{
    display: flex;
    align-items: center;
    height: 100%;
}

.image {
    width: 100px;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 1rem;
}
.quantityPayment {
    position: absolute;
    padding: 5px 8px;
    background-color: #666666;
    right: 10px;
    top: -10px;
    color: white;
}
.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
}

.textContainer p{
    color: grey;
    font-size: 0.9rem;
}

.textContainer h3, .textContainer h4{
    font-weight: 500;
}

.inputContainer{
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    width: 100px;
    /* width: 80%;
    max-width: 80%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.icon {
    cursor: pointer;
    font-size: 10px;
}